@font-face {
    font-family: 'outfitthin';
    src: url("Outfit/Outfit-VariableFont_wght.ttf") format('truetype'),
         url('Outfit/outfit-variablefont_wght-webfont.woff2') format('woff2'),
         url('Outfit/outfit-variablefont_wght-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

.attribution {
    font-size: 11px;
    text-align: center;

    display: block;

    position: absolute;

    bottom: 30px;

    /*left-right centering with absolute positioning*/
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
}
.attribution a {
    color: hsl(228, 45%, 44%);
}

html, body {
    height: 100%; /*necessary to make body contents centered*/
    margin: 0; /*necessary to get rid of the scrollbar*/
}

body {
    background-color: hsl(212, 45%, 89%);

    display: flex;
}

main {
    font-family: 'outfitthin', sans-serif;
    font-weight: 400;
    font-size: 15px;

    width: 290px;
    height: 450px;

    background-color: white;

    border-radius: 15px;

    margin: auto;

    display: flex;
    flex-direction: column;

    padding: 15px;

    box-sizing: border-box;
}

.qrcode {
    display: block;

    margin: auto;

    width: 260px;
    height: 260px;

    border-radius: 10px;
}

article {
    width: 260px;
    height: 160px;

    margin: auto;
}

h1 {
    font-weight: 700;

    color: hsl(218, 44%, 22%);

    text-align: center;

}

p {
    color: hsl(220, 15%, 55%);

    text-align: center;

}
